@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: normal;
    src: local("Merriweather"), url("../assets/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
    font-display: swap;
}