@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: normal;
    src: local("Merriweather"), url("../assets/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    src: local("Source Sans Pro"), url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
    font-display: swap;
}

.title {
    font-family: "Merriweather";
}

.ant-form-item-label{
    font-family: "Source Sans Pro";
}