@mixin full {
    width: 100vw;
    height: 100vh;
}

.empty-list {
    @include full();
    background-image: url("../assets/undraw_empty_street_sfxm\ 1.svg");
    background-repeat: no-repeat;
    background-position: 10% 100%;
}

.upload {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px dashed #bcbcbc;
    box-sizing: border-box;
    border-radius: 5px;
    background-position: center;
}

.movie-list-img {
    object-fit: contain;
    width: 64px;
    height: 64px;
}

.movie {
    padding: 1em 0;
    border-bottom: 1px solid #bcbcbc;
}

.small-preview {
    width: 100px;
    object-fit: cover;
    height: 100px;
    margin: 0 0 1em;
}

.edit-bg {
    @include full();
    background-repeat: no-repeat;
    background-image: url("../assets/undraw_working_from_anywhere_ub67\ 1.svg");
    background-position-x: right;
}

.create-bg {
    @include full();
    background-repeat: no-repeat;
    background-image: url("../assets/undraw_Tree_swing_646s\ 1.svg");
    background-position-x: right;
}

.list-item-buttons-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.edit-button {
    font-family: "Source Sans Pro";
    text-align: center;
    text-decoration: underline;

    color: #000000;
    border: none;
    box-shadow: none;
    outline: none;

    &:hover {
        color: #000000;
    }
}

.delete-button {
    font-family: "Source Sans Pro";
    text-align: center;
    border: none;
    color: #cf1313;
    box-shadow: none;
    outline: none;

    &:hover {
        color: #cf1313;
    }
}

.small-margin {
    margin-right: 0.5em;
}

.form-movie {
    width: 80%;
    .ant-input-number {
        width: 100%;
    }
}

.dropdown-text {
    font-family: "Source Sans Pro";
    color: #8f8f8f;
}
